.text {
    font-family:Arial;
    font-size: 20px;
    font-weight:bold;
    color: red;
    margin-top:20px;
    margin-left:5px;
    width: 420px;
    line-height:25px;
    font-weight: bold;
    
}
.texst{
    transition: opacity 0.75s;
}
.texst:hover{
    text-decoration: underline;
}